[Unit]
Description=elasticsearch

[Service]
Type=forking
EvironmentFile=
User=elastic
Group=elastic
ExecStart=/app/elasticsearch/elasticsearch/start.sh
ExecStop=/app/elasticsearch/elasticsearch/stop.sh
killMode=none
TimeoutStartSec=60
LimitNOFILE=262144
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity
LimitMEMLOCK=infinity
Restart=always

[Install]
WantedBy=multi-user.target


