[Unit]
Description=kibana

[Service]
Type=forking
EvironmentFile=
User=elastic
Group=elastic

ExecStart=/app/kibana/kibana/start_kibana.sh
ExecStop=/app/kibana/kibana/stop_kibana.sh
killMode=none
TimeoutStartSec=30

Restart=always

[Install]
WantedBy=multi-user.target


